.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fruit {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  cursor: pointer;
  z-index: 12;
}

.fruit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.subtitle {
  background-color: black;
  padding: 0.25rem;
  margin-left: 4rem;
  align-self: flex-start;
}

.trail-text {
  position: relative;
  color: black;
  will-change: transform, opacity;
  overflow: hidden;
  text-align: right;
}

.trail-text > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.text-background {
  background-color: white;
  padding: 0.5rem;
}

.story {
  align-self: flex-end;
  margin-right: 4rem;
  margin-top: 1rem;
}
